@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.home {
    margin-top: 30px;
}
.home .grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 517.38px 230px;
    gap: 30px;
}

.home .slide-show{
    overflow: hidden;
    grid-column: 1 / 3;
	grid-row: 1 / 2;
}

.home .slide-show img{
    width: 737px;
    height: 518px;
    object-fit: cover;
}

.home .quick-link{
    grid-column: 3 / 4;
	grid-row: 1 / 2;

}

.home .quick-link .title{
    color: rgb(117, 117, 117);
    color: rgb(117, 136, 180);

    margin: 10px 20px 15px;
    font-size:25px;
    font-family: 'Jua', sans-serif;
}
.home .quick-link .grid{
    display:grid;
    row-gap: 10px;
    column-gap: 0px;
    height: 80%;
    grid-template-columns: 117px 117px 117px;
    grid-template-rows: 137px 137px 137px;
    
}
.home .quick-link .grid .item{
    cursor: pointer;
}
.home .quick-link .grid .item .image{
    margin: 10px auto 12px auto;
    width:90px;
    height:90px;
    border-radius: 45px;
    overflow: hidden;
}
.home .quick-link .grid .item .image img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.home .quick-link .grid .item .text{
    margin: auto;
    text-align: center;
    color: rgb(117, 136, 180);
    font-size:17px;
    font-family: 'Jua', sans-serif;
}

.home .quick-link, .home .slide-show,
.home .section1, .home .section2, .home .user-info, .home .working{
    overflow: hidden;
    border-radius: 15px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-right: 2px solid rgb(221, 221, 221);

}

.home .working{
    text-align: center;
}
.home .working img{
    display: block;
    margin-left: 60px;
    width: 60%;
    margin-bottom: 15px;
}

.home .section1{
    position: relative;
    cursor: pointer;
    padding:15px;
}
.home .section1 h4{
    padding-bottom: 5px;
    /* border-bottom: 1px solid rgb(168, 168, 168); */
    margin-bottom:20px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(78, 123, 190);
}
.home .section1 ul{
    list-style: none;
    font-size: 14px;
}   
.home .section1 li{
    margin:10px;
}
.home .section1 li span:first-child{
    display: inline-block;
    box-sizing: border-box;
    width: 73%;
    padding-right:10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.home .section1 li span:last-child{
    display: inline-block;
    /* box-sizing: border-box; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 27%;
    /* font-size: 13px; */
    color: rgb(20, 135, 155);

}

.home .section1 .plus-icon{
    position: absolute;
    font-size: 35px;
    font-weight: 600;
    color: rgb(78, 123, 190);
    top: 5px;
    right: 25px;
}