.home {
    margin-top: 30px;
}
.home .grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 517.38px 230px;
    gap: 30px;
}

.home .slide-show{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    grid-column: 1 / 3;
	grid-row: 1 / 2;
    border-radius: 15px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-right: 2px solid rgb(221, 221, 221);

}

.home .slide-show img{
    width: 737px;
    height: 518px;
    object-fit: cover;
}

.home .quick-link{
    background-color: aquamarine;
    grid-column: 3 / 4;
	grid-row: 1 / 2;
    border-radius: 15px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-right: 2px solid rgb(221, 221, 221);

}
.home .section1, .home .section2, .home .section3{
    overflow: hidden;
    border-radius: 15px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-right: 2px solid rgb(221, 221, 221);

}
