.message-board table{
    border-collapse: collapse;
    width: 100%;
}
.message-board thead tr, .message-board .post tr:first-child{
    border-top: 2px solid rgb(119, 164, 206);

}
.message-board thead tr th{
    padding: 10px 5px;
}

.message-board tbody tr{
    cursor:pointer;
    border-top: 1px solid rgb(209, 209, 209);
    border-bottom: 1px solid rgb(209, 209, 209);
    font-size: 16px;
}
.message-board .post tbody tr{
    cursor: default;
}
.message-board tbody tr td{
    padding: 10px 5px;

}
.message-board tbody tr td:nth-child(1),
.message-board tbody tr td:nth-child(3),
.message-board tbody tr td:nth-child(4),
.message-board tbody tr td:nth-child(5)
{
    text-align: center;
}

.message-board tbody tr td:nth-child(2){
    padding-left: 30px;
}

.message-board tbody tr td .notice{
    background-color: rgb(66, 107, 161);
    padding:5px 0px;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}

.message-board .pagination{
    margin: 10px auto;
    text-align: center;
}
.message-board .pagination div{
    display: inline-block;
    cursor: pointer;
}
.message-board .pagination div:hover, .message-board .pagination div.active{
    color: rgb(0, 153, 255);

    /* text-decoration: underline; */
}

.message-board .post{
    white-space: pre-wrap;
}
.message-board .post .bottom{
    width: 100%;
}
.message-board .post .bottom button{
    float: right;
    width:90px;
    height: 40px;
    border: 0px;
    background-color: rgb(66, 107, 161);
    color: white;
    margin: 20px 20px 0px 0;
    cursor: pointer;
    font-size:15px;
    border-radius: 10px;
}